<div class="card animated fadeIn fast">
    <!-- para la img se manda directo, sin interpolacion {{}} (aunque tb es valido ) [scr], para que maneja la propiedad angular-->
    <img [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre">
    <div class="card-body">
        <!-- Aqui si es obligado utilizar la interpolacion :D -->
        <h5 class="card-text">{{ heroe.nombre }}</h5>
        <p class="card-text">{{ heroe.bio }}</p>
        <p class="card-text"><small class="text-muted">{{ heroe.aparicion }}</small></p>

        <!-- Forma 1, para redireccionar -->
        <!-- <a [routerLink]="['/heroe', i]" class="btn btn-outline-primary btn-block">Ver más...</a> -->

        <!-- Forma 2, para redirecionar -->
        <button type="button" (click)="verHeroe()" class="btn btn-outline-primary btn-block">
            Ver más...
        </button>

    </div>
</div>