<h2 *ngIf="termino.length <= 0">Catalogo de heroes</h2>
<h2 *ngIf="termino.length > 0">Buscando: <small>{{ termino }}</small></h2>
<hr>
<div *ngIf="heroeResult.length == 0" class="alert alert-danger animated fadeIn fast" role="alert">
    No se encontraron resultados con el termino: {{ termino }}
</div>
<div *ngIf="heroeResult.length > 0 && heroeResult.length < 7 " class="alert alert-success animated fadeIn fast" role="alert">
    Resutlados de la busqueda con el termino: {{ termino }}
</div>

<div class="card-columns">
    <app-heroe-tarjeta [index]="misheroes.idx" [heroe]="misheroes" *ngFor="let misheroes of heroeResult; let i = index"></app-heroe-tarjeta>

</div>